<html><head>
    <title>Timeline | Point items</title>
  
    <style type="text/css">
      body {
        font: 10pt arial;
      }
    </style>
  
    <script src="../output/vis-timeline-graph2d.min.js"></script>
    <link href="../output/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
  <h1>Timetravel $$address$$</h1>
  <div id="mytimeline" style="background-color: #FAFAFA;"></div>

  <div id="visualization" style="position: relative;"></div>
  
  <script type="text/javascript">
    var container = document.getElementById('visualization');
    
    var items = new vis.DataSet([
    $$dataset$$
    ])
  
    var options = {
      // Set global item type. Type can also be specified for items individually
      // Available types: 'box' (default), 'point', 'range'
      type: 'point',
      showMajorLabels: false
    };
  
    var timeline = new vis.Timeline(container, items, options);
  </script>
  
  
  <div id="ConnectiveDocSignExtentionInstalled" data-extension-version="1.0.4"></div></body></html>